#list-kinships {
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    border-radius: 10px;
}

.main-kinships {
    display: table;
    width: 100%;
    text-align: center;
}

.parents {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    max-width: 120px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.main-family {
    display: inline-block;
}

.child-kinships {
    display: inline-block;
    vertical-align: top;
}

.spouse-kinships {
    display: inline-block;
    vertical-align: top;
}

.childrens-kinships {
    margin-top: 60px;
}

.pair-kinships {
    display: inline-block;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    line-height: 1.4;
    padding: 15px 10px 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.photo {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.photo.death {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
}

.child-kinships a:hover .photo {
    border: 2px solid rgba(0,0,0,0.6);
}

.main-family .photo {
    width: 100px;
    height: 100px;
}

button.btn-detail {
    padding: 5px 8px 3px 8px;
    font-size: 12px;
    float: none;
    background-color: transparent !important;
    border: 1px solid #504f51;
    color: #504f51 !important;
    transition: all 300ms;
    text-transform: uppercase;
}

button.btn-detail:hover {
    color: #FFF !important;
    background-color: #504f51 !important;
}

.photo-detail {
    width: 200px;
    height: 200px;
    background-position: top center;
    background-size: cover;
    margin: 0 auto 20px auto;
}

button.btn-close {
    margin: 0;
    font-size: 12px;
}